.widget-window {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.title {
  font-size: 20px;
}
